body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}
.container {
  max-width: 1200px;
  margin: auto;
}

nav {
  display: flex;
  width: 100%;
  position:relative;
}
nav h1 {
  width: 20%;
  text-align: center;
  align-items: center;
  font-size: 40px
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style: none;
  cursor: pointer;
}
.ul1,
.ul2 {
  width: 40%;
  margin-left: 4em;
}
.ul1 {
  gap: 8em;
}
.ul2 {
 gap: 3em;
}
.img1 {
  cursor: pointer;
}

.section1 {
  display: flex;
  width: 99.9%;
  margin-top: 5px;
  border: solid 0.5px black;
}
.section2 {
  width: 100%;
  display: flex;
}
.section2 img {
  width: 33.2%;
  border: solid 0.5px black;
}
#time {
  text-align: right;
  margin-top: 10px;
}

#slide {
  position: absolute;
  right: -50%;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  width: 46.5%;
  height: 500%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;

  transition: right 1s ease-in-out; 
}

#slide.visible {
  right: 0%;
  opacity: 1;
}



