body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}
.container {
  max-width: 1200px;
  margin: auto;
}

nav {
  display: flex;
  width: 100%;
  position:relative;
}
nav h1 {
  width: 20%;
  text-align: center;
  align-items: center;
  font-size: 40px
}
nav h1 a { 
  text-decoration: none;
  color: black;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style: none;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
.ul1,
.ul2 {
  width: 40%;
  margin-left: 4em;
}
.ul1 {
  gap: 8em;
}
.ul2 {
 gap: 3em;
}
.img1 {
  cursor: pointer;
}
h2 {
  text-align: center;
}
.titre {
  border: 1px solid black;
}
.section1,
.section2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.section1 img {
  width: 30%;
  border: solid black 1px;
}
.section2 img {
  width: 30%;
  border: solid black 1px;
  margin-top: 5em;
}
#time {
text-align: center;
margin-top: 20px;
font-size: large;
}
#date {
text-align: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.footer p a {
  text-decoration: none;
  color: black;
}
