
body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}
.container {
  max-width: 1200px;
  margin: auto;
}
h2 {
  text-align: center;
}
nav {
  display: flex;
  width: 100%;
  position:relative;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav h1 {
  width: 20%;
  text-align: center;
  align-items: center;
  font-size: 40px
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style: none;
  cursor: pointer;
}
.ul1,
.ul2 {
  width: 40%;
  margin-left: 4em;
}
.ul1 {
  gap: 8em;
}
.ul2 {
 gap: 3em;
}
.img1 {
  cursor: pointer;
}

.input {
  width: 100%;
  max-width: 220px;
  height: 5px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:focus {
  border: 2px solid grey;
}

.search-wrapper {
  position: relative;
}

.suggested-articles {
  position: absolute;
  top: 100%;
  left: 10px;
  border: 1px solid #ccc;
  background-color: white;
  display: none; /* caché par défaut */
  width: 100%;
  z-index: 100; /* Assurez-vous que cela s'affiche au-dessus d'autres éléments */
}

.suggested-articles a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.suggested-articles a:hover {
  background-color: #f2f2f2;
}

form {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 95%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1.5px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: grey;
  box-shadow: 0px 0px 20px -18px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

input[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

input[type="submit"]:hover {
  background-color: grey;
}

form label {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}