body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}
.container {
  max-width: 1200px;
  margin: auto;
}

nav {
  display: flex;
  width: 100%;
  position:relative;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav h1 {
  width: 20%;
  text-align: center;
  align-items: center;
  font-size: 40px
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style: none;
  cursor: pointer;
}
.ul1,
.ul2 {
  width: 40%;
  margin-left: 4em;
}
.ul1 {
  gap: 8em;
}
.ul2 {
 gap: 3em;
}
.img1 {
  cursor: pointer;
}

.section1 {
  display: flex;
  width: 99.9%;
  margin-top: 5px;
  border: solid 0.5px black;
}
.section2 {
  width: 100%;
  display: flex;
}
.section2 img {
  width: 33.2%;
  border: solid 0.5px black;
}
#time {
  text-align: center;
  margin-top: 20px;
  font-size: large;
}
#date {
  text-align: center;
}

#slide {
  position: absolute;
  right: -50%;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  width: 46.5%;
  height: 500%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;

  transition: right 1s ease-in-out; 
}
#slide.visible {
  right: 0%;
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.footer p a {
  text-decoration: none;
  color: black;
}

.input {
  width: 100%;
  max-width: 220px;
  height: 5px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:focus {
  border: 2px solid grey;
}

.search-wrapper {
  position: relative;
}

.suggested-articles {
  position: absolute;
  top: 100%;
  left: 10px;
  border: 1px solid #ccc;
  background-color: white;
  display: none; /* caché par défaut */
  width: 100%;
  z-index: 100; /* Assurez-vous que cela s'affiche au-dessus d'autres éléments */
}

.suggested-articles a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.suggested-articles a:hover {
  background-color: #f2f2f2;
}
